version: '3.8'
services:
  mysql:
    build: ./database
    container_name: dbcont
    ports: ["3306:3306"]
    environment:
      MYSQL_ROOT_PASSWORD: ccit1234
      MYSQL_DATABASE: realestateapp
    command: --default-authentication-plugin=mysql_native_password
    networks: ["teja"]

  web:
    build: ./app
    container_name: appcont
    ports: ["1111:5000"]
    depends_on: ["mysql"]
    networks: ["teja"]
    command: bash -c "sleep 30 && python app.py"

networks:
  teja:
    external: true
